body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
section {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
section header {
  width: 100%;
  position: absolute;
  display: flex;
  top: 0;
  justify-content: flex-end;
  padding: 20px;
}
section header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
section header ul li {
  list-style: none;
  text-decoration: none;
  margin-left: 20px;
}
section header ul li a {
  color: #111;
  text-decoration: none;
}
section header ul li button {
  background-color: rgb(92, 149, 235);
  border: none;
  outline: none;
  padding: 8px;
  color: white;
  cursor: pointer;
  border-radius: 3px;
}
section .main {
  width: 580px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section .main .searchbox {
  width: 100%;
  position: relative;
  margin-top: 20px;
}
section .main .searchbox input {
  width: 100%;
  padding: 13px;
  padding-left: 45px;
  padding-right: 0px;
  border-radius: 30px;
  border: 1px solid #ccc;
  outline: none;
}
section .main .searchbox .icon {
  position: absolute;
  top: 0;
  padding: 10px 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
}
section .main .buttons {
  margin-top: 20px;
}
section .main .buttons button {
  margin: 0 10px;
  padding: 12px 20px;
  color: #555;
  font-size: 14px;
  border: none;
  border-radius: 3px;
}
section .main .lang {
  margin-top: 20px;
  font-size: 15px;
}
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f2f2f2;
}
.footer .row {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgb(0, 0, 0, 0, 05);
}
.footer .row ul {
  display: flex;
}
.footer .row li {
  list-style: none;
  text-decoration: none;
}
section .footer .row ul li a {
  text-decoration: none;
  font-size: 14px;
  color: #5f6368;
  margin-right: 25px;
}

/*mobile*/
@media (max-width: 768px) {
  section .main .searchbox input {
    width: 75%;
    margin-left: 20px;
  }
  section .main .searchbox .icon {
    width: 76%;
  }
  section .main .searchbox .icon {
    margin-left: 20px;
  }
  .footer .row {
    display: block;
  }
}
section .footer .row ul li a:hover {
  border-bottom: 1px solid rgb(39, 35, 35);
  animation: fottr 1s linear;
}
@keyframes fottr {
  25% {
    border-bottom: 1px solid rgb(39, 35, 35);
    border-width: 10px;
  }
}
